In [11]:
import sqlite3
import datetime

In [12]:
print('sqlite3 version: ', sqlite3.version)

sqlite3 version:  2.6.0

In [13]:
now = datetime.datetime.now()
print('now : ', now)
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime : ', nowDatetime)

now :  2021-10-25 17:27:31.479563
nowDatetime :  2021-10-25 17:27:31

In [14]:
conn = sqlite3.connect("database1.db", isolation_level = None)

In [15]:
cur = conn.cursor()
print('cursor type: ', type(cur))

cursor type:  <class 'sqlite3.Cursor'>

### 1-4 DB테이블 생성

In [16]:
cur.execute("create table usersd(id integer primary key, \
username text, email text, phone text, website text, regdate text)")

OperationalError: table usersd already exists

In [17]:
# 테이블 생성(Data Type : TEXT, NUMERIC, INTEGER, REAL, BLOB)
cur.execute("INSERT INTO usersd VALUES(1, 'Kim', 'kim@cozlab.com', '010-1234-5678', 'cozlab.com', ?)", (nowDatetime,))

IntegrityError: UNIQUE constraint failed: usersd.id

In [47]:
# 데이터 insert 튜플형식
cur.execute("INSERT INTO usersd (id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", \
            (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime))

AttributeError: 'builtin_function_or_method' object has no attribute 'execute'

In [48]:
#데이터 insert many 형식(튜플, 리스트)
# 많은 양의 데이터를 한꺼번에 넣는 방법
userList = (
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersd(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

AttributeError: 'builtin_function_or_method' object has no attribute 'executemany'

In [20]:
# 테이블데이터 보두 삭제
cur.execute("DELETE FROM usersd")

In [21]:
# 데이터 insert many 형식(튜플, 리스트)
userList = (
(1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', nowDatetime),
(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime),
(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
(4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
(5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersd(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

### DB 접속을 더이상 하지 않는다면, 접속 해제, 자원 반환하기
cur.close()

커밋 , 롤백
conn = sqlite3.connect("database.db")
명령을 실행해야함 .
취소하고 싶을 경우 , conn.rollback() 바로 이전에 실행 취소함 .
conn.commit()
conn = sqlite3.connect("database.db", isolation_level=None)
isolation_level = None
일 경우 자동 ( 오토 커밋 )

## 1-5-2. Read(select)
다양한 데이터 조회
select
where
where
조건의 tuple, dict Mapping

In [22]:
import sqlite3
import datetime
# 삽입 날자 샛업
now = datetime.datetime.now()
print('now : ', now)
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime : ', nowDatetime)
# auto commit(그때그때 DB에 반영), # rollback (되돌림))
conn = sqlite3.connect("database1.db") # 로컬 db
cur = conn.cursor() # cursor binding

now :  2021-10-25 17:27:46.604976
nowDatetime :  2021-10-25 17:27:46

In [23]:
cur.execute("SELECT * FROM usersd")

In [24]:
#커서위 위치 변경
#1개 로우 선택
print('one -> \n', cur.fetchone())

one ->
 (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 17:27:31')

In [25]:
print('one -> \n', cur.fetchone())

one ->
 (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 17:27:31')

In [26]:
# 현재에서 3개 가져오기
print('Three -> \n', cur.fetchmany(size=3))

Three ->
 [(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:27:31'), (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:27:31'), (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:27:31')]

In [27]:
#현재 cur가 있는 위치 이후,남은 것 모두
print('All -> \n', cur.fetchall())

All ->
 [(6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:27:31')]

select ~DB순회 (retriveve) 방법

테이블을 돌며서 데이터를 읽어오는 것

In [28]:
cur.execute("SELECT * FROM usersd")

In [29]:
# 순회 1:
rows = cur.fetchall()
for row in rows:
    print('retrivel -> ', row)

retrivel ->  (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 17:27:31')
retrivel ->  (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 17:27:31')
retrivel ->  (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:27:31')
retrivel ->  (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:27:31')
retrivel ->  (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:27:31')
retrivel ->  (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:27:31')

In [30]:
# 순회2 : 커서가 제일 끝에 있기 때문에 실행을 보려면 select를 다시 해야함.
for row in cur.fetchall():
    print('retrivel -> ', row)

In [31]:
# 순회3
for row in cur.execute('SELECT * FROM usersd ORDER BY id DESC'):
    print('retrivel -> ', row)

retrivel ->  (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', '2021-10-25 17:27:31')
retrivel ->  (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:27:31')
retrivel ->  (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:27:31')
retrivel ->  (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:27:31')
retrivel ->  (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 17:27:31')
retrivel ->  (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', '2021-10-25 17:27:31')

select ~ where retriever(튜플형 , format 문 , dict 형 )

In [32]:
# WHERE 조건1 튜플형
param1 = (3,)
cur.execute("SELECT * FROM usersd WHERE id=?", param1)
print('param1', cur.fetchone()) # 1개
print('param1', cur.fetchall()) # 데이터 없음

param1 (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:27:31')
param1 []

In [33]:
#WHERE 조건 2 데이터 타입의 format 문으로
param2 = 4
cur.execute("SELECT * FROM usersd WHERE id='%s'" % param2) # %s %f %d
print('param2', cur.fetchone()) #1개
#print('param2', cur.fetchall()) #1개

param2 (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:27:31')

In [34]:
#WHERE 조건3 dict 형
cur.execute("SELECT * FROM usersd WHERE id=:id", {"id":5}) #WHERE id=:id <= dict형 조건
print('param3', cur.fetchone()) # 1개
print('param3', cur.fetchall()) # 1개

param3 (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:27:31')
param3 []

In [35]:
param4 = (3,5)
cur.execute("SELECT * FROM usersd WHERE id IN(?,?) ", param4)
print('param4 : ', cur.fetchall())

param4 :  [(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:27:31'), (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:27:31')]

In [36]:
#WHERE 조건5
cur.execute("SELECT * FROM usersd WHERE id IN('%d','%d') " % (3,4))
print('param5 : ', cur.fetchall())

param5 :  [(3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', '2021-10-25 17:27:31'), (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', '2021-10-25 17:27:31')]

In [37]:
# WHERE 조건6 WHERE OR
#WHERE id=:id <= dict형 조건
cur.execute("SELECT * FROM usersd WHERE id=:id1 OR id=:id2", {"id1":2, "id2":5})
print('param6', cur.fetchall()) # 1개

param6 [(2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', '2021-10-25 17:27:31'), (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', '2021-10-25 17:27:31')]

DUMP 출력

dump: db를 백업받는 것, 다른 시스템으로 db를 재구성할 때 사용.

In [38]:
with conn: # db 연결, file로 저장
    with open('./dump.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Dump print Complete')

Dump print Complete

In [39]:
# db 연결 종료
conn.close()

## 1-5-3. DB Update

DB 테이블 내용을 수정하는 것

In [40]:
conn = sqlite3.connect("database1.db")
cur = conn.cursor()

In [41]:
#kim -> joy를 바꾸기, 튜플
cur.execute("UPDATE usersd SET username = ? WHERE id = ?" ,('joy', 1))

In [42]:
#park -> 2 joy로 바꾸기, dict
cur.execute("UPDATE usersd SET username = :name WHERE id = :id", {'name': 'good', 'id':2})

In [43]:
conn.commit()

## 1-5-4 DB Delete

DB 테이블 데이터 삭제하기

In [44]:
import sqlite3
import datetime 
now = datetime.datetime.now()
print('now: ', now)
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime: ', nowDatetime)

conn = sqlite3.connect('database.db')
cur = conn.cursor

now:  2021-10-25 17:28:06.425374
nowDatetime:  2021-10-25 17:28:06

In [45]:
# 테이블 데이터 모두 삭제 
# cur.execute("DELETE FROM users")
# 삭제 한 것 카운트해서 반환함: cur.execute("DELETE FROM usersd").rowcount
print("user db delete: ", cur.execute("DELETE FROM usersd").rowcount)

AttributeError: 'builtin_function_or_method' object has no attribute 'execute'

In [10]:
# 데이터 insert many 형식(튜플, 리스트)
userList = (
    (1, 'kim', 'kim@naver.com', '010-3456-4567', 'kim.com', nowDatetime),
    (2, 'Park', 'park@naver.com', '010-3456-4567', 'park.com', nowDatetime),
    (3, 'Lee', 'lee@naver.com', '010-3333-3333', 'lee.com', nowDatetime),
    (4, 'Cho', 'cho@naver.com', '010-4444-4444', 'cho.com', nowDatetime),
    (5, 'Yue', 'yue@naver.com', '010-5555-5555', 'yue.com', nowDatetime),
    (6, 'Sea', 'sea@naver.com', '010-6666-6666', 'sea.com', nowDatetime),
)
cur.executemany("INSERT INTO usersd(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)", userList)

AttributeError: 'builtin_function_or_method' object has no attribute 'executemany'

In [ ]:
# 삭제: 튜플형으로
cur.execute("DELETE FROM usersd WHERE id = ?", (2,))

In [ ]:
# 확인하기 
for user in cur.execute("SELECT * FROM usersb"):
    print(user)

In [ ]:
#삭제 : dict형으로 
cur.execute("DELETE FROM usersd WHERE id = :id", {"id": 4})

In [ ]:
# 확인하기 
for user in cur.execute("SELECT * FROM usersb"):
    print(user)

In [ ]:
#삭제 : format 형으로 
cur.execute("DELETE FROM users WHERE id = %d" %1)

In [ ]:
# 확인하기 
for user in cur.execute("SELECT * FROM usersb"):
    print(user)

In [ ]:
# 삭제 : WHERE 조건으로
cur.execute("DELETE FROM users WHERE id=:id AND username=:name", {"id":3, "name":"Lee"}) #WHERE id=:Id <= dict형 조건

In [ ]:
for user in cur.execute("SELECT * FROM users"):
print(user)

In [ ]:
# 데이터 전체 삭제 : 삭제된 행 카운트 출력
print("user db deleted : ", conn.execute("DELETE FROM usersdb").rowcount, " rows")

In [ ]:
conn.commit()
conn.close()

## DB 사용 권장 이유 
1. 최신 데이터를 통합관리를 할 수 있기 때문
2. 요즘은 데이터가 자산인 시대
3. 새로운 서비스 창출 할 수 있음 .
4. 데이터는 4 차 산업혁명 시대에 원유와 같음 .